Chris Williams <bingos@cpan.org> <chris@bingosnet.co.uk>
Karen Etheridge <ether@cpan.org>
Michael G. Schwern <mschwern@cpan.org> <schwern@pobox.com>
George Hartzell <hartzell@cpan.org> <hartzell@alerce.com>
