Chris Williams <bingos@cpan.org> <chris@bingosnet.co.uk>
Gabor Szabo <szabgab@cpan.org> <szabgab@gmail.com>
George Hartzell <hartzell@cpan.org> <hartzell@alerce.com>
Geraud Continsouzas <geraud@scsi.nc>
Goro Fuji <gfuji@cpan.org> <g.psy.va@gmail.com>
Karen Etheridge <ether@cpan.org>
김도형 - Keedi Kim <keedi@cpan.org> <keedi.k@gmail.com>
Michael G. Schwern <mschwern@cpan.org> <schwern@pobox.com>
Toby Inkster <tobyink@cpan.org> <mail@tobyinkster.co.uk>
